// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
// menu #A30000

$primary   = #8C0000
$secondary = #3A3E42
$accent    = #3A4853

$positive  = #1A904D
$negative  = #8D0010
$info      = #2495AC
$warning   = #F2C037
